.categoryBox{
	margin: 0 auto;
	max-width:800px;
	background-color:#cdff63;
	padding-bottom: 10px;
	

}


.FamilyBox{

	
	margin-top:10px;	
	margin-bottom:10px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	background-color: #cdff63;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 20px;
}

.SpeciesBigBox{
	margin-left: 5px;	
	margin-right: 5px;	
	margin-top:10px;	
	margin-bottom:10px;
	text-decoration: none;
	text-align: center;
	width: 90%;
	background-color: #61f481;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 20px;

}

.SpeciesBox{

	margin-left: 5px;	
	margin-right: 5px;	
	margin-top:10px;	
	margin-bottom:10px;
	text-decoration: none;
	text-align: center;
	width: 90%;
	background-color: #61f481;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 20px;
}

.TraitsBigBox{

	margin-left: 5px;	
	margin-right: 5px;	
	margin-top:10px;	
	margin-bottom:10px;
	text-decoration: none;
	text-align: center;
	width: 90%;
	background-color: #61f4c5;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 20px;
}

.TraitsBox{

	margin-left: 5px;	
	margin-right: 5px;	
	margin-top:10px;	
	margin-bottom:10px;
	text-decoration: none;
	text-align: center;
	width: 90%;
	background-color: #61f4c5;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 20px;
}

.GroupBox{

	margin-left: 5px;	
	margin-right: 5px;	
	margin-top:10px;	
	margin-bottom:10px;
	text-decoration: none;
	text-align: center;
	width: 90%;
	background-color: #9999ff;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 20px;
	
}

.StyleBox{

	margin-left: 5px;	
	margin-right: 5px;	
	margin-top:10px;	
	margin-bottom:10px;
	text-decoration: none;
	text-align: center;
	width: 90%;
	background-color: #ff99cc;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 20px;
}

